.header
{
    border: 2px solid rgb(231, 185, 100) ;
}

.navbar1
{
    text-align: right;
}

.navbar2
{
    text-align: left;
}
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 50px 20px;
      text-decoration: none;
      border: 2px solid whitesmoke;
    }
    
    li a:hover {
      background-color: #d34040;
    }

#main {
  width: 1300px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#main div {
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}


.blockquote
{
    text-align: center;
    line-height: 40px;
}
.Container-body1
{
    text-align: center;
    padding: 20%;
    line-height: 30px;
}
.Heading
{
    text-align: center;
    text-decoration: #d34040;
    text-transform: uppercase;
}